.lawyer {
	width: 290px;
	border: 1px solid #a7a8ac; 
}

.lawyer-description {
	font-family: 'Roboto', sans-serif;
	background-color: #2f323a;
	width: 290px;
	padding: 10px 0px;
	border: 1px solid #85868c;
}

.lawyer-description > h5 {
	margin: 0px;
	color: #c2c2b2;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}
.lawyer-description > p {
	margin:0px;
	color: #c2c2b2;
	font-size: 20px;
	text-align: center;
}

.link-lawyer {
	text-decoration: none;
}

.link-lawyer:hover {
	text-decoration: none;
}
.link-lawyer:active {
	text-decoration: none;
}
.link-lawyer:visited {
	text-decoration: none;
}
